/* --- NAVBAR --- */
.navbar {
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 4px solid var(--cafe-escuro);
    width: 100%;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--cafe-escuro);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: var(--cor-texto);
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    transition: color 0.3s;
}

/* Efeito sublinhado animado */
.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--vermelho-wendy);
    transition: width 0.3s;
}

.nav-links a:hover::after,
.nav-links a.active::after {
    width: 100%;
}

.btn-pedir {
    background-color: var(--vermelho-wendy);
    color: white;
    padding: 10px 25px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.btn-pedir:hover {
    background-color: var(--vermelho-hover);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(198, 40, 40, 0.3);
}